ul,
li,
a {
    text-decoration: none;
    list-style-type: none;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    scroll-behavior: smooth;
}

header {
    display: flex;
}

header .logo {
    position: fixed;
    top: 20px;
    left: 180px;
    font-family: charmonman;
    z-index: 9999;
}

header .logo a {
    color: rgb(0, 0, 0);
    font-size: 25px;
    font-weight: 900;
}

.nav {
    height: auto;
    transition: all 0.8s ease-in-out;
}

.active-nav {
    background: white;
}

.nav-links {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-top: 20px;
}

.nav-links li a {
    color: rgb(0, 0, 0);
    font-size: 18px;
    margin-right: 20px;
    font-weight: 700;
    position: relative;
}

.nav-links li a:hover {
    transition: background-color 0.8s ease-in;
}

.nav-links li a:hover:after {
    content: '';
    position: absolute;
    bottom: -10px;
    right: 0;
    left: -20px;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 40px;
    margin: 0 auto;
}


/*
.nav_contacts li a.active {
    color: rgb(241, 34, 248) !important;
}



.nav_contacts li a>span {
    position: fixed;
    left: 200px;
    top: 20px;
    font-size: 20px;
    font-family: charmonman;
} */

.carousel .carousel-item {
    height: 100vh;
}

.carousel-item img {
    position: absolute;
    object-fit: cover;
    top: 0;
    left: 0;
    min-height: 100vh;
}

.carousel-item video {
    background: transparent url('/images/9.jpg') 50% 50% / cover no-repeat;
    position: absolute;
    object-fit: inherit;
    top: 0;
    left: 0;
    min-height: 100vh;
    max-width: 100%;
}

.caption-one,
.caption-two,
.caption-three,
.caption-four,
.caption-five {
    position: absolute;
    left: 0;
    top: 0;
    max-width: 500px;
    min-height: 100vh;
    padding: 0 20px 0 20px;
    color: black;
    transition: 0.5s all ease-in;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    transition: background 0.8s ease-in;
}

.caption-one {
    background: RGB(243, 173, 199);
}

.caption-two {
    background: rgb(218, 218, 218);
}

.caption-three {
    background: rgba(254, 255, 255, 0.8);
}

.caption-four {
    background: rgba(254, 255, 255, 0.8);
}

.caption-five {
    background: rgba(254, 255, 255, 0.8);
}

@media (max-width: 768px) {
    .carousel-caption {
        display: block !important;
    }
    .carousel-control-prev,
    .carousel-control-next {
        display: none;
    }
    .carousel-indicators li {
        margin-left: 10px;
        margin-right: 10px;
    }
}

.carousel-caption h5 {
    margin-top: 150px;
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 40px;
    color: rgb(255, 255, 255);
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: rgb(0, 0, 0);
}

.carousel-caption p {
    margin-top: 30px;
    text-align: justify;
}

.carousel-caption h2 {
    margin-top: 5px;
    font-weight: 700px;
    font-size: 60px;
    font-family: 'Libre Baskerville', serif;
    position: relative;
    display: inline-block;
    padding-bottom: 10px;
}

.carousel-caption h2::after {
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    border-bottom: 5px solid rgb(0, 0, 0);
    width: 50%;
    margin: 0 auto;
}

.carousel-control-prev,
.carousel-control-next {
    top: inherit;
    left: 150px;
    bottom: 10%;
    width: 80px !important;
    height: 80px !important;
    background-color: black;
    color: white !important;
    box-shadow: rgb(0 0 0 / 35%) 0px 5px 15px;
}

.carousel-control-prev:hover,
.carousel-control-next:hover {
    background-color: rgba(0, 0, 0, 0.5);
}

.carousel-control-prev {
    left: 240px !important;
}

.carousel-indicators {
    bottom: 10px;
    left: 0;
    top: inherit;
}

.carousel-indicators button {
    background: black !important;
    color: black !important;
}

.btn-one,
.btn-two,
.btn-three,
.btn-four,
.btn-five {
    margin-top: 10px;
    border-radius: 5px;
    font-weight: 500;
    font-size: 20px;
    padding: 15px;
    width: auto;
    background-size: 400px 80px;
    transition: 0.8s;
    cursor: pointer;
    border: 1px solid black;
    position: relative;
}

.btn-one::after,
.btn-two::after,
.btn-three::after,
.btn-four::after,
.btn-five::after {
    content: '\f178';
    font-family: 'FontAwesome';
    font-weight: 400;
    position: absolute;
    left: 80%;
    top: 26%;
    right: 4%;
    bottom: 0;
    opacity: 0;
}

.btn-one {
    background: -webkit-linear-gradient( 0deg, transparent 50%, rgb(255, 138, 181));
}

.btn-two {
    background: -webkit-linear-gradient( 0deg, transparent 50%, rgb(224, 224, 224));
}

.btn-three {
    background: -webkit-linear-gradient( 0deg, transparent 50%, rgb(238, 238, 238));
}

.btn-four {
    background: -webkit-linear-gradient( 0deg, transparent 50%, rgb(238, 238, 238));
}

.btn-five {
    background: -webkit-linear-gradient( 0deg, transparent 50%, rgb(238, 238, 238));
}

a.flowers:hover {
    border: none !important;
}

.btn-one:hover,
.btn-two:hover,
.btn-three:hover,
.btn-four:hover,
.btn-five:hover {
    padding: 15px 40px 15px 15px;
    background-position: 200px 0;
    transition: all 0.5s;
}

.btn-one:hover::after,
.btn-two:hover::after,
.btn-three:hover::after,
.btn-four:hover::after,
.btn-five:hover::after {
    opacity: 1;
    transition: all 0.5s;
}

@media (max-width: 768px) {
    .nav {
        position: relative;
    }
    .menu-btn {
        position: fixed;
        right: 10px;
        top: 10px;
        display: flex;
        border-radius: 50%;
        width: 50px;
        height: 50px;
        background: rgb(3, 3, 3);
        border: 2px solid #666;
        color: #fff !important;
        font-size: 12px;
        font-weight: bolder;
        align-items: center;
        justify-content: center;
        z-index: 20;
        cursor: pointer;
    }
    .menu-btn::after {
        content: 'menu';
    }
    .nav-links {
        position: fixed;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        top: -20px;
        width: 100%;
        min-height: 100vh;
        clip-path: circle(1px at 90% -10%);
        -webkit-clip-path: circle(0px at -5% -10%);
        transition: all 0.8s ease-out;
        background: rgba(255, 255, 255, 0.9);
        z-index: 4;
    }
    .nav-links.open {
        clip-path: circle(1800px at 90% -10%);
        -webkit-clip-path: circle(1800px at 90% -10%);
    }
    .nav-links li a {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 20px;
        color: rgb(0, 0, 0);
        font-family: 'Libre Baskerville', serif;
        font-weight: 600;
        font-size: 18px;
        transition: background 0.8s ease;
    }
    .nav-links li a:hover {
        border-bottom: 5px solid rgb(241, 34, 248);
    }
}

.landing {
    background-image: url('/images/9.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    max-width: 100%;
    min-height: 100vh;
    overflow: hidden;
    /* background-attachment: fixed; */
}

.wrapper {
    position: absolute;
    top: 45%;
    left: 30%;
    transform: translate(-30%, -45%);
    text-align: center;
    width: 100%;
}

.wrapper h1 {
    font-size: 60px;
    font-weight: 600;
    margin-bottom: 20px;
    font-family: 'Libre Baskerville', serif;
}

.wrapper p {
    font-size: 18px;
    font-weight: 400;
    font-family: montserrat;
    margin-bottom: 20px;
}

.wrapper a {
    font-weight: 500;
}

@media (max-width: 768px) {
    .wrapper h1 {
        font-size: 40px;
    }
}

@media (max-width: 480px) {
    .wrapper {
        width: 100%;
    }
    .wrapper h1 {
        font-size: 30px;
        margin-bottom: 10px;
    }
    .wrapper p {
        font-size: 15px;
        margin-bottom: 10px;
    }
    a.cta,
    .cta-comm {
        margin-top: 20px;
    }
    .menu h1 {
        display: none;
    }
}

.our-flowers {
    overflow: hidden;
}

.wrapper-cards {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 50px;
}

.card-left,
.card-right {
    max-width: 300px;
    min-height: 300px;
    height: 100%;
    background: #ffffff;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    margin: 20px 0 20px 0;
    padding: 20px;
    text-align: center;
    position: relative;
}

.text-elem {
    font-size: 25px;
    font-weight: 600;
    font-family: 'Libre Baskerville', serif;
}

.card-left p,
.card-right p {
    padding: 10px;
    text-align: justify;
}

.card-right a,
.card-left a {
    color: rgb(255, 255, 255);
    font-size: 18px;
    position: relative;
}


/* .btn2 {
    background: black;
    cursor: pointer;
    border-radius: 4px;
    padding: 10px 12px;
    margin: 10px;
    border: 1px solid black;
    text-align: center;
    font-weight: bolder;
    transition: background 0.6s, color 0.4s ease-in-out;
}

.btn2:hover {
    background: white;
    color: black;
} */

.image-elem img {
    width: 100px;
}

.swiper {
    max-width: 100%;
    min-height: 100vh;
}

.swiper-slide {
    display: grid;
    grid-template-columns: 3fr 4fr;
}

.left {
    background-color: rgb(255, 255, 255);
    box-shadow: rgba(136, 136, 136, 0.35) 0px 5px 15px;
    margin-top: 100px;
    padding: 50px;
    z-index: 100;
    max-width: 100%;
    /* min-height: calc(100vh - 100px); */
    text-align: center;
}

.left h3 {
    font-size: 50px;
    font-weight: 700;
    position: relative;
}

.left h3::before,
.left h3::after {
    display: inline-block;
    content: '';
    border-top: 2px solid black;
    width: 70px;
    transform: translateY(-10px);
}

.left p {
    margin-top: 50px;
    font-size: 18px;
    font-family: montserrat;
    text-align: justify;
}

.right {
    float: right;
    margin-left: -200px;
}

.right img {
    width: 100%;
    height: 100vh;
    object-fit: cover;
}

.swiper-button-prev,
.swiper-button-next {
    width: 80px !important;
    height: 80px !important;
    background-color: black;
    color: white !important;
    top: inherit !important;
    bottom: 36px !important;
}

.swiper-button-next {
    left: 296px !important;
}

.swiper-button-prev {
    left: 200px !important;
}

@media (min-width: 900px) and (max-width: 1000px) {
    .swiper-button-next {
        left: 240px !important;
    }
    .swiper-button-prev {
        left: 150px !important;
    }
}

@media (min-width: 800px) and (max-width: 900px) {
    .swiper-button-next,
    .swiper-button-prev {
        width: 60px;
        height: 60px;
        bottom: 0px !important;
    }
    .swiper-button-next {
        left: 190px !important;
    }
    .swiper-button-prev {
        left: 100px !important;
    }
}

@media (min-width: 700px) and (max-width: 800px) {
    .swiper-button-next,
    .swiper-button-prev {
        width: 60px !important;
        height: 60px !important;
        bottom: 0px !important;
    }
    .swiper-button-next {
        left: 180px !important;
    }
    .swiper-button-prev {
        left: 100px !important;
    }
}

@media (min-width: 600px) and (max-width: 700px) {
    .left {
        margin-top: 0px;
    }
    .left h3 {
        font-size: 30px;
    }
    .swiper-button-next,
    .swiper-button-prev {
        width: 60px !important;
        height: 60px !important;
        bottom: 0px !important;
    }
    .swiper-button-next {
        left: 140px !important;
    }
    .swiper-button-prev {
        left: 70px !important;
    }
}

@media (min-width: 500px) and (max-width: 600px) {
    .left {
        margin-top: 0px;
    }
    .left h3 {
        font-size: 20px;
    }
    .swiper-button-next,
    .swiper-button-prev {
        width: 60px !important;
        height: 60px !important;
        bottom: 0px !important;
    }
    .swiper-button-next {
        left: 140px !important;
    }
    .swiper-button-prev {
        left: 70px !important;
    }
}

@media (min-width: 400px) and (max-width: 500px) {
    .left {
        margin-top: 0px;
    }
    .left h3 {
        font-size: 30px;
    }
    .right {
        display: none;
    }
    .swiper-button-next,
    .swiper-button-prev {
        width: 60px !important;
        height: 60px !important;
        bottom: 0px !important;
    }
    .swiper-button-next {
        left: 140px !important;
    }
    .swiper-button-prev {
        left: 70px !important;
    }
}


/*
.images {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.images img {
    width: 400px;
}

.roses,
.hypers {
    position: relative;
}

.images-text {
    position: absolute;
    background: rgba(215, 215, 215, 0.5);
    padding: 20px;
    color: black;
    min-width: 100%;
    min-height: 240px;
    transition: background 0.4s ease-in-out;
}

.images-text:hover {
    background: rgb(226, 225, 225);
}

.text-one {
    top: 5%;
    left: 30%;
}

.text-two {
    bottom: 5%;
    right: 30%;
} */

.title {}

.title h1 {
    font-size: 40px;
    font-weight: 500;
    font-family: 'Libre Baskerville', serif;
    color: rgba(179, 179, 179, 0.5);
    margin-bottom: 20px;
    width: 20px;
    position: relative;
}

.title h2 {
    font-size: 30px;
    font-weight: 700;
    font-family: 'Libre Baskerville', serif;
    margin-bottom: 20px;
    text-transform: capitalize;
}

.title-small {
    font-size: 20px;
    font-weight: 500;
    font-family: 'Libre Baskerville', serif;
    text-transform: capitalize;
}


/* .title h1::after {
    content: '';
    position: absolute;
    display: block;
    top: 33%;
    left: 5%;
    transform: translate(-50%, -33%) rotate(90deg);
    width: 50px;
    height: 5px;
    background: black;
} */

.title p {
    font-size: 18px;
    font-family: montserrat;
}

@media (max-width: 992px) {
    .images {
        justify-content: center;
    }
    .images-text {
        width: 100%;
        height: 300px;
    }
    .text-one {
        top: 25%;
        left: 40%;
    }
    .text-two {
        bottom: 25%;
        right: 40%;
    }
}

@media (max-width: 768px) {
    .images-text {
        width: 100%;
        height: 50%;
    }
    .text-one,
    .text-two {
        top: 50%;
        left: 0%;
    }
}

@media (max-width: 480px) {
    .images-text {
        width: 100%;
        height: 100%;
    }
    .text-one,
    .text-two {
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
    }
}

.about-us {
    position: relative;
    overflow: hidden;
}

.values {
    display: inline-block;
}

.value {
    display: flex;
    min-width: 200px;
    min-height: 80px;
    text-align: center;
    margin-top: 10px;
    align-items: center;
    justify-content: center;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    transition: transform 0.4s, background 0.8s ease-in-out;
}

.value:hover {
    background: rgb(245, 244, 244);
    transform: scale(1.1);
}

.value.four {
    width: 100%;
}

.value .badge {
    display: flex;
    align-items: center;
}

.value .icon img {
    width: 60px;
    margin-right: 10px;
}

.value .text {
    color: rgb(0, 0, 0);
    font-size: 15px;
    font-family: montserrat;
}

a.btn1 {
    display: inline-block;
    max-width: 500px;
    width: 50%;
    min-height: 50px;
    line-height: 50px;
    background: black;
    color: white;
    cursor: pointer;
    border-radius: 4px;
    padding: 10px 12px;
    margin-top: 20px;
    border: 1px solid black;
    text-align: center;
    font-weight: bolder;
    transition: background 0.6s, color 0.4s ease-in-out;
}

a.btn1:hover {
    background: white;
    color: black;
}

@media (min-width: 768) {}

@media (max-width: 480px) {
    .about-us a.btn1 {
        max-width: 200px;
        width: 200px;
    }
}

.community {
    overflow: hidden;
    position: relative;
}

.our-community {
    display: flex;
    gap: 50px;
}

.community-text h2 {
    margin-top: 30px;
    text-transform: none;
}

.community-text h5 {
    margin-top: 40px;
}

.community-text ul {
    margin-top: 10px;
}

.gallery {
    max-width: 760px;
}

.big-image img,
.small-images img {
    width: 100%;
    border: 2px solid rgb(100, 100, 100);
}

.big-image img {
    border-bottom: none;
}

.small-images img {
    border-top: none;
}

.small-images {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 3px;
    cursor: pointer;
}

@media (max-width: 1200px) {
    .our-community {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        text-align: center;
    }
}

.contacts-image {
    background: url('/images/2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    min-height: 600px;
    position: relative;
    overflow: hidden;
}

.contacts {
    display: flex;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.contact-box {
    background: rgb(255, 255, 255);
    padding: 20px;
}

.contact-box h4 {
    font-weight: 700;
    text-transform: capitalize;
}

.social-cons {
    margin-top: 60px;
}

.cons {
    font-size: 18px;
}

.cons li {
    padding: 10px;
}

.cons li>.fa {
    margin-right: 5px;
}

.socials {
    display: flex;
    margin-top: 50px;
}

.socials li {
    display: flex;
    margin-right: 15px;
    background: rgba(255, 255, 255, 0.5);
    width: 40px;
    height: 40px;
    box-shadow: 20px 20px 60px #d9d9d9, -20px -20px 60px rgb(255 255 255);
    align-items: center;
    justify-content: space-evenly;
}

.socials li i {
    color: black;
    font-size: 18px;
}

.socials li i:hover {
    color: rgb(241, 34, 248);
}

.map-box {
    filter: grayscale(0.2);
}

.buttons {
    display: none;
}

@media (max-width: 1000px) {
    .map-box {
        display: none;
    }
    .contact-box {
        padding: 60px;
    }
}

footer {
    background: #272727;
    color: white;
}

footer .top {
    position: fixed;
    bottom: 10px;
    right: 10px;
    cursor: pointer;
    width: 50px;
    height: 50px;
    line-height: 50px;
    background-color: #ffffff;
    border: 1px solid black;
    text-align: center;
}

footer .top a i {
    color: black;
    font-size: 20px;
    text-align: center;
}

.footer-text {
    display: flex;
    justify-content: center;
    gap: 10px;
    flex-wrap: wrap;
    padding: 20px;
}

.footer-text p {
    position: relative;
    margin: 10px;
}


/* .footer-text p::after {
    content: '';
    position: absolute;
    width: 3px;
    height: 20px;
    background: white;
    margin: 2px;
    left: 60px;
    top: 0;
    transform: translate(-50%);
}

.footer-text p:last-child::after {
    display: none;
} */